$font-family:               Roboto, "Helvetica Neue", sans-serif;
$font-size-base-value:      14;
$cell-border-top:           none;
$header-background-color:   #F3F3F3;
$header-border-bottom:      1px solid #ccc;
$header-font-weight:        500;
$header-text-color:         rgba(0,0,0,.87);
$cell-text-color:           rgba(0,0,0,.87);
$cell-font-weight:          400;
$cell-odd-background-color: #f5f5f5;
$container-border-top:      1px solid #ccc;
$container-border-bottom:   1px solid #ccc;
$container-border-left:     1px solid #ccc;
$container-border-right:    1px solid #ccc;
$checkbox-selector-icon:    "\f14a";
$primary-color:             #6200EE;

@import './roboto-font.scss';
@import './slick-grid';
@import './slick-controls';
@import './slick-editors';
@import './slick-plugins';
@import './slick-default-theme';
@import './slick-pagination';
@import './slick-footer';
@import './slickgrid-examples';
@import './slick-bootstrap';
@import './slick-material';
@import './bootstrap-jquery-ui-autocomplete';
